#it_works_report_suggestion {
  .modal-header {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 0;

    button {
      i {
        color: #3ea1d2;
      };
    };
  };

  .modal-footer {
    .apply_button {

    };
  };
};
