.incident-form {
  &__row {
    display: flex;
  }

  &__incident-info,
  &__representative-info {
    flex: 0 1 auto;
    padding: 0 15px;
  }

  &__rep-preview {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
}
