.fw-select {
  &__trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: $input-border;
    padding: 9px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    &--invalid {
      border-color: $fieldwatch-orange;
    }

    &--disabled {
      background-color: $input-disabled;
    }

    &--vertical {
      padding: 9px 12px;
    }
  }

  &__placeholder {
    color: #757575;
  }

  &__selected-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 26px);
  }

  &__options-container {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1001;
    outline: none;
  }

  &__options {
    position: relative;
    max-height: 200px;
    overflow: auto;
  }
  &__optionsHideOverflow{
    position: relative;
    max-height: 250px;
    overflow: auto;
  }
  &__right-controls {
    &>*:nth-child(n+2) {
      margin-left: 5px;
    }
  }

  &__option {
    padding: 6px 12px;
    cursor: pointer;
    &--selected {
      background-color: #f7f7f7;
    }

    &--focused {
      background-color: $fieldwatch-blue;
      color: #fff;
    }
  }

  &__search-input {
    padding: 4px;
    width: 100%;
    background-color: #f7f7f7;

    &,
    &:focus {
      border-width: 0;
      box-shadow: none;
    }
  }
}
