$fieldwatch-orange        : #ed8800;
$fieldwatch-orange-lighten: #ffae44;
$fieldwatch-black-dark    : #333;
$fieldwatch-black         : #464547;
$fieldwatch-black-lighten : #5f5e60;
$fieldwatch-blue          : #3ea1d2;
$fieldwatch-blue-lighten  : #3EABDC;
$fieldwatch-bliue-border  : #66afe9;
$fieldwatch-grey          : #d1d1d1;
$fieldwatch-grey-light    : #eaeaea;
$fieldwatch-table-border  : #ddd;
$fieldwatch-grey-lighter  : #fcfcfc;
$fieldwatch-grey-lightest : #F0F0F0;
$fieldwatch-red           : #d9534f;
$fieldwatch-red-lighten   : #fa807c;
$fieldwatch-green         : #5cb85c;
$fieldwatch-yellow        : yellow;
$notification-light       : #FFD092;
$notification-middle      : #ed8800;
$notification-dark        : #CA7400;
$input-disabled           : #f2f2f2;
$label-disabled           : $fieldwatch-grey;
$input-border             : 2px solid #eaeaea;
$focused-input-border     : 2px solid $fieldwatch-bliue-border;
$invalid-input-border     : 2px solid $fieldwatch-orange;
